HSL Nearest Departures.xcodeproj/xcuserdata/
HSL Nearest Departures.xcodeproj/project.xcworkspace/xcuserdata/
.DS_Store
HSL Nearest Departures.xcodeproj/project.xcworkspace/xcshareddata/
Pods/
HSL Nearest Departures.xcworkspace/xcuserdata/koera.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
