HSL Nearest Departures.xcodeproj/xcuserdata/
HSL Nearest Departures.xcworkspace/xcuserdata/
HSL Nearest Departures.xcodeproj/project.xcworkspace/xcuserdata/
HSL Nearest Departures.xcodeproj/project.xcworkspace/xcshareddata/
Pods/
.DS_Store
